<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>
    <title>Recipe Keeper</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div id="container" class="fluid">
      <main role="main">
        <div class="spacer">
        </br>
        </br>
      </div>
      <% for( let i = 0; i < categories.length; i++ ) { %>
        
         
        <h1><%= categories[i].name %>" " <%= categories[i].owner%>"  "<%=  %> <%=categories[i].owner  %> </h1>
      <li style="list-style:none">
        <a href="/api/main/category-recipes/<%= categories[i]._id%>"
          style="text-decoration:none;"> <%= categories[i].name %> </a>
      </li>
      <% } %>
      
        <div>
          <img class="main-img" src="images/home-recipes.jpg"/>
        </div>

      </main>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>