<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>List of Recipes</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
      <a href="/auth/logout">logout</a>
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
          <div class="row">
          </div>
        <div class="row">
            <p>
                <% recipe.results.forEach(({title, readyInMinutes, servings, image}) =>{%>
                    <div class="col-md-4" style="width:20rem;">
                        <div class="card">
                          <img
                          src="https://spoonacular.com/recipeImages/<%= image %>"
                          class="card-img-top"
                          alt="..."
                          />
                          <div class="card-body">
                            <h5 class="card-title"><%= title %> </h5>
                            <p class="card-text">
                              Servings: <%= servings %> </br>
                              Ready in Minutes: <%= readyInMinutes %> 
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4" style="margin-bottom:30px;">
                        <div class="card" style= "border-radius:0">
                        <a href="/api/products/single-product/<%= products[i]._id %>">
                        <img src="https://spoonacular.com/recipeImages/<%= image %>" alt = "..." class="card-img-top"/>
                        <div class="card-body">
                            <h5 class="card-title"><%= products[i].name %> </h5>
                            <p class="card-text">
                                Category: <%= products[i].category.name %> 
                            </p>
                            <p class="card-text">
                                <%= products[i].price %> 
                            </p>
                            <br/>
                            <a href="/api/products/single-product/<%= products[i]._id %>" 
                                class="btn btn-success">
                            Add Recipe</a>
                                </div> 
                                 </a>
                            </div>
                        </div> 
                    <%})%> 
            </p>
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



