<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>Single Recipe</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
      <a href="/auth/logout">logout</a>
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
          <div class="row">
          </div>
        <div class="row">
            <p>
               <h1><%= recipe.title %> </h1> 
               <img src="<%= recipe.image %>"/>
               <p><%= recipe.summary %> </p>
            </p>
            <div>
            <form method="post" action="/api/main/single-recipe/<%= recipe.id %> "   aria-label="...">
                <button type="submit" class="btn btn-primary btn-lg">
                    Save Recipe
                  </button>
            </form>
        </div>
        <div> 
            <li style="margin-left:20px;" class="nav-item dropdown">
            <a
              style="color:black;"
              class="nav-link dropdown-toggle"
              href="#"
              id="category"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Categories</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <ul>
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                    <li style="list-style:none">
                        <a href="/api/products/all-products/<%= categories[i]._id%>"
                            style="text-decoration:none;"> <%= categories[i].name %> </a>
                    </li>
                    <% } %> </div>
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



