<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>Single Recipe</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
      <main role="main">
        <div class="container">
          <% if (errors.length > 0) { %>
            <div class="alert alert-danger alert-dismissible">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <%= errors %>
            </div>
            <% } %>
          <div class="spacer">
          </br>
          </br>
          </div>
          <div class="row">
            <form method="post" action="/api/main/single-recipe/category"   aria-label="...">
                <input
                type="hidden"
                name="title"
                id="title"
                value="<%=recipe.title%>"
              />
              <input
                type="hidden"
                name="image"
                id="image"
                value="<%=recipe.image%>"
              />
              <input
                type="hidden"
                name="instructions"
                id="instructions"
                value="<%=recipe.instructions%>"
              />
              <input
              type="hidden"
              name="readyInMinutes"
              id="readyInMinutes"
              value="<%=recipe.readyInMinutes%>"
            />
            <input
              type="hidden"
              name="servings"
              id="servings"
              value="<%=recipe.servings%>"
            />
              <input
              type="hidden"
              name="id"
              id="id"
              value="<%=recipe.id%>"
            />
              <input
              type="hidden"
              name="ingredients"
              id="ingredients"
              value="<%=recipe.extendedIngredients%>"
            />
            <button type="submit" class="btn btn-outline-success btn-md">
              Save Recipe
            </button>
              <input
                type="text"
                name="category"
                id="category"
                placeholder="Category Folder"
              />
                </form>
              </br>
                <form  role="form" method="POST" action="/api/main/single-recipe/<%= recipe.id %>?_method=DELETE">
                    <button type="submit" class="btn btn-outline-danger btn-md delete-btn">
                        Delete Recipe
                      </button>
                </form>
                </div>
                <div class="spacer">
                </br>
                </br>
                </div>
        <div class="row">
          <div class="card mb-3">
            <img class="card-img-top h-100" src="<%= recipe.image %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.title %></h5>
              <p class="card-text">Cooking Instructions:</p>
              <p class="card-text"><small class="text-muted"><%-recipe.instructions %></small></p>
            </div>
          </div>
        
        </div>
        <form  role="form" method="GET" action="/api/main/text-ingredients">
          <button type="submit" class="btn btn-outline-info btn-md">
              Text Ingredients
            </button>
      </form>
              <p>
                <div class="row">
                  <% recipe.extendedIngredients.forEach(({name, amount, unit, image}) =>{%>
                        <div class=" card-deck" style="margin-bottom:30px;">
                          <div class="card"  style= "border-radius:0; ">
                            <img  src="https://spoonacular.com/cdn/ingredients_250x250/<%= image %> " alt = "Card image cap" class="card-img-top w-100"/>
                          <div class="card-body">
                              <h5 class="card-title"><%= name %> </h5>
                              <p class="card-text">
                                <small class="text-muted"> 
                                  Amount: <%= amount %> 
                                  <%= unit %> 
                                </small>
                                </br>
                              </p>
                                  </div> 
                              </div>
                          </div> 
                          <%})%> 
                </div>
                <form method="post" action="#"   aria-label="...">
                  <% recipe.extendedIngredients.forEach(({name, amount, unit, image}) =>{%>
                          <input
                          type="hidden"
                          name="name"
                          id="name"
                          value="<%=name%>"
                        />
                        <input
                        type="hidden"
                        name="amount"
                        id="amount"
                        value="<%=amount%>"
                      />
                      <input
                      type="hidden"
                      name="unit"
                      id="unit"
                      value="<%=unit%>"
                    />
                    <input
                    type="hidden"
                    name="image"
                    id="image"
                    value="<%=image%>"
                  />
                      <%})%> 
              </p>
            </form>
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



