<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>Single Recipe</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
      <a href="/auth/logout">logout</a>
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
          <div class="row">
          </div>
        <div class="row">
            <p>
               <h1><%= recipe.title %> </h1> 
               <img src="<%= recipe.image %>"/>
               <p><%= recipe.summary %> </p>
            </p>
            <div>
            <form method="post" action="/api/main/single-recipe/category"   aria-label="...">
                <input
                type="hidden"
                name="title"
                id="title"
                value="<%=recipe.title%>"
              />
              <input
                type="hidden"
                name="image"
                id="image"
                value="<%=recipe.image%>"
              />
              <input
                type="hidden"
                name="summary"
                id="summary"
                value="<%=recipe.summary%>"
              />
              <input
              type="hidden"
              name="readyInMinutes"
              id="readyInMinutes"
              value="<%=recipe.readyInMinutes%>"
            />
            <input
              type="hidden"
              name="servings"
              id="servings"
              value="<%=recipe.servings%>"
            />
              <input
              type="hidden"
              name="summary"
              id="summary"
              value="<%=recipe.id%>"
            />
              <input
                type="text"
                name="category"
                id="category"
              />
                
                <button type="submit" class="btn btn-primary btn-lg">
                    Save Recipe
                  </button>
                </form>
                <form role="form" method="POST" action="/api/main/single-recipe/<%= recipe.id %>?_method=DELETE">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Delete Recipe
                      </button>
                </form>
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



