<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
    
    <title>Single Recipe</title>
    
  </head>
  <body>
    <% include ../partials/nav %> 
      <main role="main">
        <div class="container">
          <div class="row">
          </div>
          <div class="spacer">
          </br>
          </br>
          </div>
        <div class="row">
            <p>
               <h1><%= recipe.title %> </h1> 
               <img  src="https://spoonacular.com/recipeImages/<%= recipe.id %>-636x393.jpg" alt = "..." class=""/>
               <div class="spacer">
              </br>
              </br>
              </div>
               <p><b>Cooking Instructions: &nbsp; </b><%-recipe.instructions %> </p>
            </p>
            <div class="row">
              <form method="post" action="#"   aria-label="...">
              <p>
                  <% recipe.extendedIngredients.forEach(({name, amount, unit, image}) =>{%>
                        <div class="col-md-4" style="margin-bottom:30px;">
                          <div class="card"  style= "border-radius:0">
                            <img  src="https://spoonacular.com/cdn/ingredients_100x100/<%= image %> " alt = "..." class="card-img-top"/>
                          <div class="card-body">
                              <h5 class="card-title"><%= name %> </h5>
                              <p class="card-text">
                                  Amount: <%= amount %> 
                                  <%= unit %> 
                                </br>
                              </p>
                                  </div> 
                              </div>
                          </div> 
                          <input
                          type="hidden"
                          name="name"
                          id="name"
                          value="<%=name%>"
                        />
                        <input
                        type="hidden"
                        name="amount"
                        id="amount"
                        value="<%=amount%>"
                      />
                      <input
                      type="hidden"
                      name="unit"
                      id="unit"
                      value="<%=unit%>"
                    />
                    <input
                    type="hidden"
                    name="image"
                    id="image"
                    value="<%=image%>"
                  />
                      <%})%> 
              </p>
            </form>
            <div>
            <form method="post" action="/api/main/single-recipe/category"   aria-label="...">
                <input
                type="hidden"
                name="title"
                id="title"
                value="<%=recipe.title%>"
              />
              <input
                type="hidden"
                name="image"
                id="image"
                value="<%=recipe.image%>"
              />
              <input
                type="hidden"
                name="summary"
                id="summary"
                value="<%=recipe.summary%>"
              />
              <input
              type="hidden"
              name="readyInMinutes"
              id="readyInMinutes"
              value="<%=recipe.readyInMinutes%>"
            />
            <input
              type="hidden"
              name="servings"
              id="servings"
              value="<%=recipe.servings%>"
            />
              <input
              type="hidden"
              name="id"
              id="id"
              value="<%=recipe.id%>"
            />
              <input
                type="text"
                name="category"
                id="category"
              />
                
                <button type="submit" class="btn btn-primary btn-lg">
                    Save Recipe
                  </button>
                </form>
                <form role="form" method="POST" action="/api/main/single-recipe/<%= recipe.id %>?_method=DELETE">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Delete Recipe
                      </button>
                </form>
        </main>
      </div>
  <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>



